<h1>Current Temperature Conditions for <%= @city %></h1>

<p>Current Temperature = <%= @data["main"]["temp"].round %> degrees Celcius</p>
<p>Today's low = <%= @data["main"]["temp_min"].round %> degrees Celcius</p>
<p>Today's high = <%= @data["main"]["temp_max"].round %> degrees Celcius</p>

